[run]
source = backend
omit =
    backend/*/migrations/*
    backend/*/tests.py
    backend/manage.py
    backend/core/asgi.py
    backend/core/wsgi.py

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
